<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>運動用品</title>
<meta charset=utf-8>
<link rel=stylesheet href={% static 'main/css/main.css' %}>

</head>
<body>
<h1>什麼是籃球？</h1>

<h3>籃球︰</h3>是一個由兩隊參與，在一個長方形籃球場進行的球類運動，每隊出場5名隊員，可將球向任何方向傳、投、拍、滾或運，目的是將籃球投入對方球籃得分，並阻止對方獲得球或得分。籃球是世界上最多人觀看的球類活動之一。</P>
從1936年起就是奧運的正式競賽項目之一。在三分線內投進可得兩分，若在三分線外投籃，可以得到三分。在比賽結束時，得分最多的球隊獲勝，但若二隊平手，會進行延長賽。</P>
在球賽中，掌控球者可以用掌控球者可以用持續運球（將球彈到地上，再反彈到自己手中）的方式行進或奔跑，也可以將球傳給其他隊員，但若走步（掌控球者沒有運球，且移動超過指定範圍或指定方式）、翻球或二次運球均是違例。</P>
違例稱為犯規。個人犯規是指個人違例的情形，若單場中個人犯規累計超過一定次數，此場比賽及終止。
若一球隊正要投籃時，防守球隊犯規，進攻球隊可以罰球的機會。有時也會出現技術犯規，多半是球員或教練出現非體育道德行為時，此時另一隊可以罰球，而且罰球後有控球權。</p>
<img src={% static 'init/img/jordan上籃123.jpg' %} alt=程式語言影像>
<img src={% static 'init/img/images456.jpg' %} alt=程式語言影像>
<img src={% static 'init/img/77.jpg' %} alt=程式語言影像>
</a>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<h2>進攻戰術（一）進攻戰術基礎配合</h2>
<h4>傳切配合-->傳切配合是隊員之間運用傳球與空切的一種戰術配合方法。具體可分為兩種，第一種是隊員傳球後，立即切入接回傳球進攻；第二種是隊員傳球後，其他隊員空切接球進攻。</h4>
<p>（１）切入隊員假動作、起動、切入與跑動路線</p>
<p>（２）配合隊員接球後運用假動作吸引防守者及傳球時機、方法</p>
<p>（３）傳切配合的時機、位置、技術運用，要求及配合搶籃板球</p>
<img src={% static 'init/img/傳切戰術.jpg' %} alt=程式語言影像></p>
<h4>突分配合-->突分配合是持球隊員在突破中將球傳球給同伴投籃的一種戰術配合方法。</h4>
<p>（1）運用突破壓縮對方守區，傳球給週邊隊員投籃</p>
<p>（2）是突破後傳球給空插隊員或中鋒投籃。</p>
<img src={% static 'init/img/突破.jpg' %} alt=程式語言影像></p>
<h4>掩護配合-->掩護配合是隊員利用身體合理的擋住同伴對手的移動路線，或是主動利用同伴擋住自己對手的移動路線，從而擺脫防守隊員，獲得進攻機會的一種戰術配合方法。</h4>
<p>（1）側掩護、後掩護：側掩護是站在防守隊員的側面，後掩護是站在防守隊員的後面。掩護距離在側掩護時距離對手可以近些，後掩護距離要遠一些。</p>
<p>（2）定位掩護：掩護者佔據有利位置不動，其他進攻隊員誘使對手跟隨跑動，主動利用位置不動的同伴，擋住防守者移動路線而擺脫對手的一種配合方法。</p>
<p>（3）行進間掩護：兩名進攻隊員同時在移動中進行的配合方法。一般是兩前鋒隊員在底線利用交叉跑動形成掩護，達到擋住對方的目的。或者是雙中鋒進攻時，兩名中鋒隊員交叉跑動形成的掩護配合。</p>
<p>（4）雙掩護：掩護時兩名隊員可以一個在防守者後面，一個在防守者側面，也可以兩個隊員同時站在側面，或者是兩個隊員同時站在一起，擋住防守者，使同伴借助人牆擺脫防守隊員。</p>
<img src={% static 'init/img/掩護.jpg' %} alt=程式語言影像></p>
<h4>策應配合-->策應配合是進攻隊員在禁區周圍，或球場中線前後，側對或背對球籃接球，由他做樞紐與其他同伴空切、擺脫等動作相結合的一種戰術配合方法。</h4>
<p>（1）策應隊員接球後，要看二個傳球點，掌握先內後外，先異側後同側的原則</p>
<p>（2）在給空切隊員傳球時，應主要採用低手、體側或肩上向後傳球，在給週邊隊員傳球時，應主要採用頭上傳球，反彈傳球等方法</p>
<p>（3）傳球力量要柔和，便於同伴接球後連續完成下一個動作</p>
<p>（4）傳球幅度不要太大，傳球要及時、快速，做到人到球到</p>
<p>（5）在籃下接球後，若沒有個人攻擊機會時，要儘快把球回傳給週邊隊員</p>
<img src={% static 'init/img/策應.jpg' %} alt=程式語言影像></p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<h2>進攻戰術（二）快攻戰術</h2>
<p>快攻是在由守轉攻時，當對方立足未穩的情況下以最短時間把球攻入前場，爭取某一區域內在人數上的優勢所組織的進攻。 </p>
<p>（1）全隊要有強烈的快攻願望和快速意識，不放過任何一次發動快攻的機會</p>
<p>（2）及時分散，做到前後聯繫，左右照應，梯形向前推進，以便保持合理的傳接球距離</p>
<p>（3）多傳球、少運球，必要時可傳運結合</p>
<p>（4）運球推進時，要敢於接近防守隊員，創造最佳的傳球時機和角度</p>
<p>（5）組織跟進，創造第二次進攻機會，並注意保持攻守平衡</p>
<img src={% static 'init/img/快攻.jpg' %} alt=程式語言影像></p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<h2>進攻戰術（三）進攻半場人盯人</h2>
<p>進攻半場人盯人時，不論採用何種形式的打法，其整體戰術都是由傳切、突分、策應、掩護等基礎配合所組成</p>
<p>（1）要動起來打。無球隊員要不斷地空切、換位，積極配合同伴，在移動中組織進攻</p>
<p>（2）提高配合速度，掌握進攻節奏</p>
<p>（3）在強調整體配合的同時，要充分發揮隊員的個人攻擊作用，創造個人攻擊機會</p>
<p>（4）要內、外結合，擴大攻擊面，增多攻擊點，並不斷改變攻擊方向，有針對性地組織近、中、遠不同距離的配合，以及正面和兩側的配合</p>
<p>（5）加強戰術配合的連續性，注意戰術轉換、戰術變化之間的銜接</p>
<p>（6）明確主攻方向和側重點，攻其薄弱環節</p>
<p>（7）保持攻守平衡，把籃板球組織到戰術中去</p>
<img src={% static 'init/img/緊迫盯人.jpg' %} alt=程式語言影像></p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<h2>進攻戰術（四）進攻區域聯防</h2>
<p>進攻區域聯防要掌握聯防的特點和規律，抓住其薄弱環節，並給合本隊具體情況組織進攻戰術</p>
<p>（1）利用快攻在對方未布好防守陣式之前，或在對方立足未穩時發動攻擊</p>
<p>（2）在防守的局部區域使對方隊員負擔過重，造成以多打少的機會</p>
<p>（3）不斷向弱區和共管區移動，加強無球隊員背插或溜底，打亂對方的協同防守，使對方有後顧之憂</p>
<p>（4）通過人和球的快速移動，不斷改變進攻方向，製造防守空檔。在動中尋找週邊投籃或傳中的機會</p>
<p>（5）有目的地運用突破打亂對方陣腳，壓縮對方守區，創造週邊投籃機會</p>
<p>（6）有組織運用中、遠距離投籃，迫使對方擴大防區。創造內線隊員得球攻擊機會，把內外線有機地結合起來</p>
<p>（7）保持攻守平衡，組織爭奪籃板球</p>
<img src={% static 'init/img/區域聯防_resized.jpg' %} alt=程式語言影像></p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<h2>進攻戰術（五）進攻全場區域緊逼</h2>
<p>（1）儘量發動快攻，力爭儘快把球推進到前場</p>
<p>（2）要不斷地、及時地轉移進攻方向。不要單純地採用一條路線推進</p>
<p>（3）多利用空切、策應配合，打亂對方防守陣腳</p>
<p>（4）隊員要及時跟進，接應傳球</p>
<img src={% static 'init/img/全場緊迫盯人.jpg' %} alt=程式語言影像></p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<h2>進攻戰術（六）進攻混合防守</h2>
<p>（1）要及時瞭解對方混合防守的形式和特點，組織相應的進攻配合</p>
<p>（2）被對方盯住的隊員應沈著冷靜，不要急燥，不要亂跑或急於進攻，可以採用拉開、掩護等方法擺脫對手和擴大其他同伴的進攻面</p>
<p>（3）當核心隊員被對方緊逼時，不能消極等待，要主動擺脫，或其他隊員幫助擺脫，創造得球的機會</p>
<p>（4）可採用不斷穿插、換位等方法，打亂對方的防守，造成局部區域人數上的優勢，以多打少</p>
<img src={% static 'init/img/混合防守.jpg' %} alt=程式語言影像></p>
</p>
<p>
	<p>
	&nbsp;</p>
<p><a href={% url 'main:main' %}>前往 主頁面</a></p>
<p><a href={% url 'baseball:baseball' %}>前往 棒球 頁面</a></p>
</body>
	 <h2>籃球相關影片：</h2>
 	<table>
 	<tr><th></th><th></th><th></th></tr>
 	{% for category in categories %}
 	<tr>
 	<td>
 	{% if user.is_authenticated %}
 		<a href={% url 'init:category' category.id %}>{{category.name}}</a>
	{% endif %}
	</td>
	<td>
	{% if user.is_authenticated %} 
 	 <form action={% url 'init:updateCategory' category.id %}>
 		<input type="submit" value=修改>
 	 </form>
 	 {% endif %}
 	</td>
	<td>
	{% if user.is_authenticated %} 
 	<form method=post action={% url 'init:deleteCategory' category.id %}>
 	{% csrf_token %}
 	<input type=submit value=刪除>
 	</form>
 	{% endif %}
 	</td>
 	</tr>
 	{% endfor %}
 	</table>
{% if user.is_authenticated %}
<p><a href={% url 'init:addCategory' %}>新增 籃球分類</a></p>
{% endif %}
</body>
</head>
</html>
<iframe width=800px height=600px src=http://www.youmaker.com/video/showAFlvEmbed-b5-332b33e842304943a1981309435a11a7110.html frameborder=0 allowfullscreen></iframe>
<embed src="http://s110.youmaker.com/other/2015/12-15/mp345329830ce254025ae1946c7998ee005394871bf110.mp3" autostart="true" loop="1"  width="50" height="70" hidden="true"></embed>